examples/certificate monitoring.json
[{"id":"8303ddce608f147b","type":"inject","z":"fbee74db83781e91","name":"Inject host & port","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"host\":\"localhost\",\"port\":1880}","payloadType":"json","x":280,"y":660,"wires":[["350385c35652f4e0"]]},{"id":"350385c35652f4e0","type":"certificate-grabber","z":"fbee74db83781e91","name":"","timeout":"10","x":490,"y":660,"wires":[["b0898b0e167c4b34"]]},{"id":"b0898b0e167c4b34","type":"switch","z":"fbee74db83781e91","name":"daysRemaining","property":"payload.daysRemaining","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"5","v2t":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":660,"wires":[["6ed1024f399f7030"],["d4fba32162b7af7e"]],"outputLabels":["going to expire","expired"]},{"id":"6ed1024f399f7030","type":"debug","z":"fbee74db83781e91","name":"Warning","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":640,"wires":[]},{"id":"d4fba32162b7af7e","type":"debug","z":"fbee74db83781e91","name":"Problem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":680,"wires":[]}]
