examples/grab a certificate.json
[{"id":"dd032f207383a627","type":"debug","z":"1178bbc1aad69047","name":"Certificate info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":220,"wires":[]},{"id":"e81159c3e99fb5f9","type":"inject","z":"1178bbc1aad69047","name":"Inject host & port","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"host\":\"localhost\",\"port\":1889}","payloadType":"json","x":760,"y":220,"wires":[["f9e2aff0450f02ce"]]},{"id":"f9e2aff0450f02ce","type":"certificate-grabber","z":"1178bbc1aad69047","name":"","host":"payload.host","hostType":"msg","port":"payload.port","portType":"msg","timeout":"10","x":970,"y":220,"wires":[["dd032f207383a627"]]},{"id":"f336e60f05bc6419","type":"catch","z":"1178bbc1aad69047","name":"","scope":["f9e2aff0450f02ce"],"uncaught":false,"x":950,"y":280,"wires":[["6ab192c14af872c8"]]},{"id":"6ab192c14af872c8","type":"debug","z":"1178bbc1aad69047","name":"Certificate error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":280,"wires":[]}]
