examples/store certificate in file.json
[{"id":"b328cde6ea2fff22","type":"inject","z":"fbee74db83781e91","name":"Inject host & port","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"host\":\"localhost\",\"port\":1880}","payloadType":"json","x":280,"y":500,"wires":[["3b663b3f52093e65"]]},{"id":"3b663b3f52093e65","type":"certificate-grabber","z":"fbee74db83781e91","name":"","timeout":"10","x":490,"y":500,"wires":[["b1c8e2e2a03a77a5"]]},{"id":"90d78e269b243a56","type":"file","z":"fbee74db83781e91","name":"","filename":"c:\\temp\\grabbedCert.crt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":970,"y":500,"wires":[[]]},{"id":"b1c8e2e2a03a77a5","type":"change","z":"fbee74db83781e91","name":"get PEM certificate","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pemCertificate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":500,"wires":[["90d78e269b243a56"]]}]
